trunk/dev-old/projects/JinxBot.Plugins.JinxBotWeb/Service References/JinxBotWeb/JinxBotWebApplication5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet.Stats" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet.Stats" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28432/Web/JinxBotWebApplication.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet" />
  <xs:complexType name="UserStats">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="UserStats" nillable="true" type="tns:UserStats" />
  <xs:complexType name="Diablo2Stats">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserStats">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActsCompleted" type="xs:int" />
          <xs:element minOccurs="0" name="CharacterName" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet" minOccurs="0" name="Class" type="q1:Diablo2CharacterClass" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet" minOccurs="0" name="Difficulty" type="q2:Diablo2DifficultyLevel" />
          <xs:element minOccurs="0" name="HasCompletedGame" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDead" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsExpansionCharacter" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsHardcoreCharacter" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLadder" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMale" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRealmCharacter" type="xs:boolean" />
          <xs:element minOccurs="0" name="Level" type="xs:int" />
          <xs:element minOccurs="0" name="LiteralText" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet" minOccurs="0" name="Product" nillable="true" type="q3:Product" />
          <xs:element minOccurs="0" name="Realm" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Diablo2Stats" nillable="true" type="tns:Diablo2Stats" />
  <xs:complexType name="Warcraft3Stats">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserStats">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClanTag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IconRace" type="tns:Warcraft3IconRace" />
          <xs:element minOccurs="0" name="IconTier" type="xs:int" />
          <xs:element minOccurs="0" name="Level" type="xs:int" />
          <xs:element minOccurs="0" name="LiteralText" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet" minOccurs="0" name="Product" nillable="true" type="q4:Product" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Warcraft3Stats" nillable="true" type="tns:Warcraft3Stats" />
  <xs:simpleType name="Warcraft3IconRace">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Random" />
      <xs:enumeration value="Tournament" />
      <xs:enumeration value="Human" />
      <xs:enumeration value="Orc" />
      <xs:enumeration value="NightElf" />
      <xs:enumeration value="Undead" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Warcraft3IconRace" nillable="true" type="tns:Warcraft3IconRace" />
  <xs:complexType name="StarcraftStats">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserStats">
        <xs:sequence>
          <xs:element minOccurs="0" name="HighestLadderRating" type="xs:int" />
          <xs:element minOccurs="0" name="IconCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsSpawned" type="xs:boolean" />
          <xs:element minOccurs="0" name="LadderRank" type="xs:int" />
          <xs:element minOccurs="0" name="LadderRating" type="xs:int" />
          <xs:element minOccurs="0" name="LiteralText" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet" minOccurs="0" name="Product" nillable="true" type="q5:Product" />
          <xs:element minOccurs="0" name="Wins" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StarcraftStats" nillable="true" type="tns:StarcraftStats" />
  <xs:complexType name="DefaultStats">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserStats">
        <xs:sequence>
          <xs:element minOccurs="0" name="LiteralText" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet" minOccurs="0" name="Product" nillable="true" type="q6:Product" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DefaultStats" nillable="true" type="tns:DefaultStats" />
</xs:schema>