development/projects/JinxBot.Plugins.JinxBotWeb/Service References/JinxBotWeb/JinxBotWebApplication2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="JinxBotWebServer" elementFormDefault="qualified" targetNamespace="JinxBotWebServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28432/Web/JinxBotWebApplication.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:28432/Web/JinxBotWebApplication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JinxBot.Plugins.JinxBotWeb" />
  <xs:element name="PostEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="channelID" type="q1:guid" />
        <xs:element minOccurs="0" name="mainPasswordHash" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JinxBot.Plugins.JinxBotWeb" minOccurs="0" name="args" nillable="true" type="q2:ClientEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="channelID" type="q3:guid" />
        <xs:element minOccurs="0" name="mainPasswordHash" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JinxBot.Plugins.JinxBotWeb" minOccurs="0" name="args" nillable="true" type="q4:ArrayOfClientEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostEventsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mainPasswordHash" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateChannelResult" type="xs:boolean" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newChannelID" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="channelID" type="q6:guid" />
        <xs:element minOccurs="0" name="mainPasswordHash" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="gatewayName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChannelName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="channelID" type="q7:guid" />
        <xs:element minOccurs="0" name="mainPasswordHash" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="channelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChannelNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetChannelNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>