branches/netsharp/projects/JinxBot.Plugins.JinxBotWeb/Service References/JinxBotWeb/JinxBotWebApplication7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet.Friends" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet.Friends" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28432/Web/JinxBotWebApplication.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BNSharp" />
  <xs:import schemaLocation="http://localhost:28432/Web/JinxBotWebApplication.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet" />
  <xs:import schemaLocation="http://localhost:28432/Web/JinxBotWebApplication.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="FriendLocation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Offline" />
      <xs:enumeration value="NotInChat" />
      <xs:enumeration value="InChat" />
      <xs:enumeration value="InPublicGame" />
      <xs:enumeration value="InPrivateGame" />
      <xs:enumeration value="InPrivateGameMutualFriends" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FriendLocation" nillable="true" type="tns:FriendLocation" />
  <xs:complexType name="FriendListReceivedEventArgs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BNSharp" base="q1:BaseEventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="Friends" nillable="true" type="tns:ArrayOfFriendUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FriendListReceivedEventArgs" nillable="true" type="tns:FriendListReceivedEventArgs" />
  <xs:complexType name="ArrayOfFriendUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendUser" nillable="true" type="tns:FriendUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendUser" nillable="true" type="tns:ArrayOfFriendUser" />
  <xs:complexType name="FriendUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationType" type="tns:FriendLocation" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet" minOccurs="0" name="Product" nillable="true" type="q2:Product" />
      <xs:element minOccurs="0" name="Status" type="tns:FriendStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendUser" nillable="true" type="tns:FriendUser" />
  <xs:simpleType name="FriendStatus">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Mutual">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DoNotDisturb">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Away">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="FriendStatus" nillable="true" type="tns:FriendStatus" />
  <xs:complexType name="FriendMovedEventArgs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/BNSharp" base="q3:BaseEventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="Friend" nillable="true" type="tns:FriendUser" />
          <xs:element minOccurs="0" name="NewIndex" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FriendMovedEventArgs" nillable="true" type="tns:FriendMovedEventArgs" />
  <xs:complexType name="FriendUpdatedEventArgs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/BNSharp" base="q4:BaseEventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="Friend" nillable="true" type="tns:FriendUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FriendUpdatedEventArgs" nillable="true" type="tns:FriendUpdatedEventArgs" />
  <xs:complexType name="FriendAddedEventArgs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/BNSharp" base="q5:BaseEventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewFriend" nillable="true" type="tns:FriendUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FriendAddedEventArgs" nillable="true" type="tns:FriendAddedEventArgs" />
  <xs:complexType name="FriendRemovedEventArgs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/BNSharp" base="q6:BaseEventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="Friend" nillable="true" type="tns:FriendUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FriendRemovedEventArgs" nillable="true" type="tns:FriendRemovedEventArgs" />
</xs:schema>