trunk/development/projects/JinxBot.Plugins.JinxBotWeb/Service References/JinxBotWeb/JinxBotWebApplication8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28432/Web/JinxBotWebApplication.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BNSharp" />
  <xs:import schemaLocation="http://localhost:28432/Web/JinxBotWebApplication.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet.Stats" />
  <xs:simpleType name="Diablo2CharacterClass">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Amazon" />
      <xs:enumeration value="Sorceress" />
      <xs:enumeration value="Necromancer" />
      <xs:enumeration value="Paladin" />
      <xs:enumeration value="Barbarian" />
      <xs:enumeration value="Druid" />
      <xs:enumeration value="Assassin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Diablo2CharacterClass" nillable="true" type="tns:Diablo2CharacterClass" />
  <xs:simpleType name="Diablo2DifficultyLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Nightmare" />
      <xs:enumeration value="Hell" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Diablo2DifficultyLevel" nillable="true" type="tns:Diablo2DifficultyLevel" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:simpleType name="ProfileRecordKeyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Ladder" />
      <xs:enumeration value="IronManLadder" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProfileRecordKeyType" nillable="true" type="tns:ProfileRecordKeyType" />
  <xs:simpleType name="RecordKeyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Wins" />
      <xs:enumeration value="Losses" />
      <xs:enumeration value="Disconnects" />
      <xs:enumeration value="LastGame" />
      <xs:enumeration value="LastGameResult" />
      <xs:enumeration value="Rating" />
      <xs:enumeration value="HighRating" />
      <xs:enumeration value="Rank" />
      <xs:enumeration value="HighRank" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecordKeyType" nillable="true" type="tns:RecordKeyType" />
  <xs:complexType name="ChatUser">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BNSharp" minOccurs="0" name="Flags" type="q1:UserFlags" />
      <xs:element minOccurs="0" name="Ping" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BNSharp.BattleNet.Stats" minOccurs="0" name="Stats" nillable="true" type="q2:UserStats" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatUser" nillable="true" type="tns:ChatUser" />
  <xs:complexType name="NewsEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatePosted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="News" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsEntry" nillable="true" type="tns:NewsEntry" />
  <xs:complexType name="ServerNewsEventArgs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/BNSharp" base="q3:BaseEventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="Entry" nillable="true" type="tns:NewsEntry" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServerNewsEventArgs" nillable="true" type="tns:ServerNewsEventArgs" />
</xs:schema>